<div class="row section featured topspace">

    <h2 class="section-title"><span>Projekte</span></h2>

    <div class="">
        {{ range where .Data.Pages "Section" "projects" }}
            <div class="col-sm-6 col-md-3">
                <h3 class="text-center">{{ .Title }}</h3>
                <p>{{ .Summary }}</p>
                <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">Mehr&hellip;</a></p>
            </div>
        {{ end }}
    </div>

</div> <!-- / section -->
