<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
            Dies ist die Homepage von Vater und Sohn. 
            Beide entwickeln gerne Software - der Vater hauptberuflich der Sohn neben der Schule.
            Für alle Projekte gilt &ndash; Zeit ist knapp.
            So gilt es Dinge zu finden bei denen man in kleinen Schritten Erfolge hat. 
            Vor allem wollen wir beide gemeinsame Zeit und Spass haben.
            Wir freuen uns über <a href="mailto:opensource21@gmail.com?subject=Vater und Sohn">R&uuml;ckmeldung</a> jeglicher Art, bitten aber um einen <i>h&ouml;flichen</i> Ton.
        </p>
    </div>
</div> <!-- / section -->
